*{
    margin: 0;
    padding: 0;
}

.pie{
    background-color: black;
    color: white;
}
    
ul li{
    color: #909090;
    margin-left: 5%;
    margin-top: 1em;
}

a:link{
    color: #909090;
    text-decoration: none;
}

a:visited{
    color: #909090;
    text-decoration: none;
}

ul li a:hover{
    color: #cb0404;
    transition-duration: .5s;
    text-decoration: none;
}

.social{
    margin: 1em;
}

.espacio {
    margin-top: 10px;
    margin-bottom: 10px;
}


