ul.menu_principal a:hover {                             /*menu_principal para menú principal*/
    background-color: #333 !important;
    transition-duration: 1s;
    color: white !important;
}

#id-plus{                            /*flota el botón de submenú a la derecha*/
    float:right;
}

.dropdown-menu {                            /* clase para los menús */
    display: none;
    visibility: hidden;
}

ul.dropdown-menu a:hover{                            /* clase para  menús*/
    background: none;
}


#tabla-container {
    background: rgba(0, 0, 0, 0.9);
    visibility: visible;
}

.table tr {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.55;
    background: none;
    color: white;
    border-color: red !important;
}


/*modificación de fausto*/

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th {
    border: 0;
}


.table>thead>tr>td,
.table>thead>tr>th {
    border-bottom: 1px solid grey;
    font-weight: bold;
}<link rel="stylesheet" href="css/style_footer.css"

.table>tfoot>tr>td,
.table>tfoot>tr>th {
    border-bottom: 1px solid grey;
    font-weight: bold;
}


/* //modificación de fausto*/

.navbar-default {
    background-color: white;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #333;
    border-top: 1px solid #ededed;
    padding: 0px;
    margin: 0px;<link rel="stylesheet" href="css/style_footer.css"
}

.navbar-default .navbar-nav>li>a {
    color: #333;
}


li {
    font-weight: bold;
}


.form-control {
    color: #333;
    background: #f1f1f1;
    border: none;
    font-weight: normal;
}

#top-nav {
    float: left;
    padding: 0px;
}

#navbar-boxw {
    float: right;
}

.navbar-toggle {
    float: left;
}transition



.menu_principal {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 250px;
    height: 30%;
    float: right;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #333;
}

.search-query:focus + button {
    z-index: 3;
}

@media (max-width: 995px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    
    #navbar-boxw {
        float: right
    }
    #custom-search-input {
        /*is para la barra de busqueda  */
        margin: 0;
        margin-top: 10px;
        padding: 0;
        width: 300px;
        height: 30%;
        float: right;
    }
    #top-nav {
        visibil.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > tdity: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
    
    .dropdown-menu {
        position: inherit;
        width: 100%;
        float: left;
        visibility: visible;
    }
}

.table a{
	color: white;
}

.table a:hover{
	color: red !important;
}
/*Salomon*/
.fondo1 {
    background: #14b1a6;
    padding: 10px;
}

.fondo2 {
    background: #e50446;
    padding: 10px;
}

.fondo3 {
    background: #97c11f;
    padding: 10px;
}

.margen {
    border: 2px dotted white;
    text-align: center;
}
h2{
    color: white;
}
/*Salomon*/
.espacio {
    margin-top: 10px;
    margin-bottom: 20px;
}
.espacio h2{
    color: white;
}
#container-fluid_menu_principal{        /*quito el espacio del menú principal que le da por defecto bootstrap*/
    padding-left: 0px;
}